/* Reset some default browser styles */
:root{
    --default-max-width: 1200px;
    --nav-bar-height: 80px;
    --tw-gradient-stops: rgba(131, 24, 67, .1);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

html, body {
    background-color: #0f172a;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: var(--default-max-width);
    width: 100%;
    margin: 2rem 2rem;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: var(--default-max-width);
    padding: calc(var(--nav-bar-height) + 2rem) 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.content h1 {
    padding: 0 32px;
    margin-bottom: 20px;
}

.main-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: calc(var(--nav-bar-height));

    border-color: rgb(229, 231, 235);
    background-color: rgb(0 0 0 / 1);
    background-image: radial-gradient(circle at 30% 50%, rgba(120, 40, 200, .3), transparent 70%);
    
}   
.inner-info{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 70% 80%, rgba(220, 40, 150, .3), transparent 70%);
}

.inner2-info {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, transparent 40%, rgba(0, 0, 0, .8));
}
.info h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
.info p {
    font-size: 1.5rem;
    padding: 0 5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.info button {
    padding: 1rem 3rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, rgb(219, 39, 119), rgb(147, 51, 234));
}

.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.announcements-container {
    max-width: 256px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announcement {
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    border-radius: 12px;
    padding: 24px;
    color: white;
    color-scheme: dark;
    font-size: 14px;
    border: 1px solid rgba(51, 65, 85, 0.5);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.announcement h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.announcement ul {
    margin-top: 1rem;
    padding-left: 0.5rem;
    font-size: 0.7rem;
    list-style: none;
}
.announcement li {
    display: flex;
    align-items: center;
    color: #94A3bb;
    gap: 8px;
    margin-bottom: 0.5rem;
}
.announcement li svg {
    height: 1.4em;
    width: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-bar-height);
    background-color: #111827f2;
    border-bottom: 1px solid rgb(31, 41, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.inner-nav {
    max-width: var(--default-max-width);
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Styles */
.logo a {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6b6b, #6b9bff);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img {
    display: inline-block;
    height: 40px;
}

.logo a:hover {
    color: #3498db;
}

.logo {
    display: flex;
    align-items: center;
    gap:8px;
}


.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-menu {
    align-content: center;
}
.nav-links img {
    width: 16px;
}

.nav-links a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(229, 231, 235);
    height: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
    position: relative;
}
.nav-links a svg {
    height: 1em;
    width: auto;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #3498db;
}

.nav-links a:hover svg{
    stroke: #3498db;
}

.nav-links a.active {
    color: #3498db;
}

.nav-links a.active svg{
    stroke: #3498db;
}

span.palette-gradient {
    background-clip: text;
    background: linear-gradient(to right, rgb(219, 39, 119), rgb(147, 51, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3498db;
}

.post-container {
    display: flex;
    width: 850px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1.5rem;
}

.post {
    display: flex;
    flex: 1 0 calc(50% - 0.75rem);
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    height: 300px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    background-color: rgba(40, 46, 61, 0.5);
    
}

.post .label{
    display: inline-block;
    align-self: flex-start;
    padding: 5px 10px;
    background-color: #581c874d;
    color: #D8b4fe;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.post h1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 5; 
   -webkit-box-orient: vertical;        
    overflow: hidden;
    padding: 0;
    font-size: 1.5rem;
}

.post .post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar{
    height: 1.7em;
    width: 1.7em;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.post .full-name {
    display: flex;
    align-items: center;
}

.post-info .time {
    display: flex;
    align-items: center;
    gap: 2rem;

}
.post-info .time  svg{
    width: 1em;
    height: 1em;
}

.code-highlight {
    font-style: italic;   
    background-color: rgba(71, 85, 119, 0.5); 
    margin: 0;
    padding: 5px;         
    border-radius: 4px; 
} 

.contact-form #char-count, #email-err{
    margin-top: 0.3rem;
    font-size: 0.7rem;
    font-style: italic;
}

.contact-form {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contact-form form {
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    color: white;
    border-radius: 5px;
    background-color: rgba(40, 46, 61, 0.5);
}
.contact-form .form-submit{
    display: flex;
    justify-content: flex-end;
}
.contact-form .form-submit button {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 12px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease 0.1s;
    background-image: linear-gradient(to right, rgb(219, 39, 119), rgb(147, 51, 234))
}
.contact-form .form-submit button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgb(147, 51, 234), rgb(219, 39, 119))
}

.contact-form h1 {
    margin-left: 0;
    padding-left: 0;
}
.contact-form label {
    margin: 1rem 0 0.5rem;
}
.contact-form input, textarea{
    color: white;
    width: 100%;
    resize: none;
    padding: 1rem 1rem;
    background-color: rgba(40, 46, 61, 0.5);
    border-radius: 5px;
    border: 1px solid rgba(51, 65, 85, 0.5);
}

.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: 0 0 0 2px #facc15;
}
.contact-form label.required::after {
  content: "*";
  color: red;
  margin-left: 4px;
  font-weight: bold;
}
.contact-form textarea::placeholder,
input::placeholder {
    font-style: italic;
}
.popup-confirm {
    display: none;  
    position: fixed;            
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); 
    justify-content: center;     
    align-items: center;
    z-index: 1000;
}
.popup-confirm.show {
    display: flex;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(40, 46, 61, 0.8);
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.popup-content button {
    display: inline-block;
    align-self: center;
    width: auto;
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease 0.1s;
    background-image: linear-gradient(to right, rgb(219, 39, 119), rgb(147, 51, 234))
}
.popup-content button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgb(147, 51, 234), rgb(219, 39, 119))
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.site-footer {
    border-top: 1px solid rgba(51, 65, 85, 0.5);
    padding: 40px 20px;
    color: #cbd5e1;
    font-size: 14px;
    background-color: #111827f2;
}

.footer-container {
    display: flex;
    height: 128px;
    width: 100%;
    padding: 0 2rem;
    justify-content: space-between;
    max-width: var(--default-max-width);
    margin: auto;
    gap: 30px;
}

.footer-section1 h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6b6b, #6b9bff);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    font-size: 1.;
}

.footer-section1 {
    max-width: 350px;
    height: 100%;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 6px;
    font-size: 1rem;
}

.footer-section a {
    color: #94a3b8;
    text-decoration: none;
}

.footer-section a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #1e293b;
    color: #64748b;
}

@media (max-width: 720px) {
    .footer-section {
        display: none;
    }
    .nav-links {
        display: none;
    }
    .video-container {
        display: none;
    }
}