html {
    background-color: #DDBEAA;
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
}

article {
    background-color: #99cccc;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
}

table,
td,
th {
    border: 1px solid black;
    margin: auto;
    padding: 2px 5px;
    border-collapse: collapse;
}
figure {
    text-align: center;
}

figcaption {
    margin-top: 8px;
    font-style: italic;
    color: #555;
}

.logo {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.main-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sandbox-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}

.square {
    width: 100px;
    height: 100px;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}