[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
pydantic-settings = "*"
uvicorn = "*"
alembic = "*"
faker = "*"
sqlalchemy = "*"
aiosqlite = "*"
bcrypt = "*"
pyjwt = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.12"
